html {
  @apply font-poppins font-light;
}

body {
  @apply m-0 flex h-screen w-screen overflow-hidden;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

h6 {
  font-size: 0.875em;
  font-weight: 500;
}
